/* styling for index.html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'montserrat';
}


body {
    background: url('academics_menu.jpg') ;
    
    
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #161032;
    align-items: center;
    height: 65px;
    width: 100%;
    color: lightblue;
    z-index: 5;
    position: fixed;
    top: 0;
    padding: 0 20px;
}

.logo {
    background-image: url(IIT_Gandhinagar_Logo.svg.png);
    height: 50px;
    width: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#query {
    text-align: center;
    margin-top: 90px;
    font-size: 2rem;
    color: #333;
}

.filling {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    max-width: 550px;
    margin:0 auto;
    padding: 20px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.alert h4 {
    font-size: 1.1rem;
    color: #333;
}

.alert p {
    font-size: 0.9rem;
    color: #666;
}

.box {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    transition: all 0.3s ease;
}

.box:focus {
    border-color: #38d39f;
    background: #fff;
    outline:none;
}

.box::placeholder {
    font-weight: lighter;
    color: #999;
}

textarea.box {
    resize: none;
    height: 150px;
}

select.box {
    font-weight: 400; /* Ensures selected option text is bold */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.box:focus {
    border-color: #38d39f; /* Ensures border color is green when focused */
    background: #fff;
    outline: none;
}

.filling h4 {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

.filling button {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    background-color: #38d39f;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filling button:hover {
    background-color: #32be8f;
}

@media (max-width: 500px) {
    #heading {
        font-size: 0.85rem;
    }

    .logo {
        height: 40px;
        width: 40px;
    }
}
@media (max-width: 768px) {
    body {
        background-size: contain; /* Adjusts background-size for smaller screens */
    }
}

@media(max-width:650px){
    body{
        background-size: cover;
    }
}

@media (max-width: 678px) {
    .filling {
        width: 90%;
        padding: 15px;
    }

    .box {
        font-size: 0.9rem;
        padding: 8px;
    }

    textarea.box {
        height: 130px;
    }

    .filling button {
        font-size: 1rem;
        padding: 8px;
    }
}






